absl-py==2.1.0
albucore
albumentations
altair
annotated-types
anyio
appnope
asttokens
astunparse
attrs
backcall
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distro
dnspython
docopt
dotenv
eval_type_backport
executing
facenet-pytorch
fastapi
fastjsonschema
ffmpeg
filelock
Flask
flask-cors
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
imbalanced-learn
imblearn
imgaug
iniconfig
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
moviepy
mpmath
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
optree
outcome
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pipreqs
platformdirs
pluggy
proglog
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pygame
Pygments
PyJWT
pymongo
pyparsing
PySocks
pytest
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
reportlab
requests
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
sentencepiece
setuptools
shapely
six
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tifffile
tinycss2
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
yarg
